* {
  font-family: "Comic Sans MS", cursive, sans-serif;
  box-sizing: border-box;
}

.title-container {
  width: 90%;
  height: 100px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  font-size: 175%;
}

.menu-title {
  width: 40%;
  border-left: 2px solid black;
  border-bottom: 2px solid black;
  text-align: center;
  font-size: 125%;
  font-weight: bold;
  float: right;
}

.menu {
  background-color: #bfbfbf;
  margin: 10px;
  border: 2px solid black;
}

.text {
  margin: 10px;
  margin-top: 40px;
}

.row {
  width: 90%;
  border: 5px;
  margin-right: auto;
  margin-left: auto;
  padding: 5px;
}
#chicken {
  background-color: #df9292;
}
#beef {
  background-color: #db5353;
  color: white;
}
#sushi {
  background-color: #e2c576;
}

@media (min-width: 992px) {
  .col-lg-4 {
    float: left;
    background-color: white;
    width: 33.33%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .col-md-6,
  .col-md-12 {
    float: left;
    background-color: white;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-12 {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .col-sm-12 {
    float: left;
    background-color: white;
    width: 100%;
  }
}
